.ironman{
    margin-left: 9px;
    
  }
  .widht{
    margin-left: 30px;
  }
  .class{
    margin-left: 153px;
  }
  .px{
    width: 400px;
  margin: 10px auto;
  background-color:  #E5E5E5;;
  }
body{
  background-color: #DDFFBC;
}
.Group{
  text-align: center;
}
.alt p{
    margin-top: 0;
    margin-bottom: 0;
    color: #FF9846;
} 
.css{
  margin-left: 190px;
}
.Document{
  border-radius: 10px;
  background-color: #FFFFFF;
  height: 30px;
  margin-left: 18px;
}
.logo{
  margin-right: 100px;
}
.class{
  margin-left: 150px;
}
.yozuv1 p {
  color: #111111;
}
.rovdi{
  width: 120px;
  height: 35px;
  margin-top: 75px;
background-color: #F46D40;
color: #F2F2F2;
border-top-width: 0;
border-bottom-width: 0;
border-left-width: 0;
border-right: 0;
margin: 0;
margin-left: 11px;
border-radius: 5px;
}
.style{
  margin-left: 0;
  margin-right: 0;
}
.sarlavha{
  width: 81px;
  height: 23px;
  margin-top: 76px;
  margin-left: 133px;
}
.amerika{
  margin-top: 0;
  margin-bottom: 0;
  color: #A4ACAD;
}
.boks{
  margin-top: 0;
  margin-bottom: 0;
  color: #A4ACAD;
}
.Филадельфия{
  margin-bottom: 0;
}
.Саломон{
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
 padding-top: 11px;
 padding-bottom: 8px;
 width: 362px;
  padding-left: 10px;
  padding-right: 10px;
  /* box-sizing: content-box; */
  
}
.viktor {
 margin-top: 0;
 margin-bottom: 0;
 color: #A4ACAD;
}
.css1{
 padding-left: 9px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.lochit{
  height: 120px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 19px;
  padding-left: 10px;
  padding-top: 11px;
  padding-bottom: 8px;
  padding-right: 10px;
}
.Подробнее{
  text-align: center;
  color: #F46D40;
}
.stiv{
  color: #A4ACAD;
}
.телефон{
  margin-left: 20px;
}
.td{
  height: 72px;

}